.navbar {
  overflow: hidden;
  position: fixed;
  /* Set the navbar to fixed position */
  z-index: 1;
  top: 0;
  /* Position the navbar at the top of the page */
  width: 100%;
  /* Full width */
}

.content {
  margin-top: 6.25em;
  margin-bottom: 1.25em;
  justify-content: center;
  text-align: center;
}

.splash {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
  /* ,url("./images/splash.jpg"); */
  height: calc(80vh + 64px);
  background-size: cover;
  background-position-x: 70%;
  background-position-y: 10%;
  /* margin-top: 10vh; */
  /* background-color: red; */
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: -64px;
}

.splashContent {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  margin: 64px auto 0;
  width: 90%;
  max-width: 1200px;
}

.title {
  margin: 8px auto;
  line-height: 125%;
  text-align: center;
}

.about {
  font-size: 1.5em;
  text-align: center;
}

.ant-card-cover {
  margin: 4px;
}

.ant-typography {
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 1.75rem;
}

.descriptionContainer {
  width: 95%;
  max-width: 800px;
  margin: 32px auto;
  text-decoration: none;
  text-align: center;
}

.modelCards {
  width: 95%;
  height: 100%;
  max-width: 1200px;
  margin: 16px auto;
  text-align: center;
  justify-content: center;
}

.cardFlexContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: auto !important;
  width: 95%;
  height: 100%;
  justify-content: center;
}

.row {
  justify-content: center;
}

.col-auto {
  margin: 8px;
}

.card {
  margin: 1rem auto !important;
  float: left;
  width: 100%;
  height: 100%;
  color: black;
  /* from https://www.ordinarycoders.com/blog/article/codepen-bootstrap-card-hovers */
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    0.3s box-shadow,
    0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
  text-decoration: none;
  text-align: center;
  max-width: 320px;
  padding: 10px;
}

.card-small {
  width: 12em;
}

.card:hover {
  /* from https://www.ordinarycoders.com/blog/article/codepen-bootstrap-card-hovers */
  transform: scale(1.02);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}

.cardImage {
  object-fit: contain;
  width: 100%;
  height: 12.5em;
}

/* .about-img{
  object-fit:contain;
  width:100%;
  height:50%;
  padding-top: 30px;
  align-items: center;
  display: flex;
} */

/* City Instance Page Styling */

.cityPage {
  margin: auto;
  margin-bottom: 100px;
  max-width: 900px;
  padding: 16px 8px;
  background: #ffffff;
}

.cityDescription {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cityDetails {
  text-align: left;
  display: flex;
  flex-direction: column;
  margin: 16px 0;
  width: 100%;
  max-width: 600px;
  text-align: center;
}

.cityImage {
  width: 90%;
  max-width: 400px;
  flex: 0;
}

.cityOtherDetails {
  padding: 4px 16px;
  font-size: 18px;
}

.subtitle {
  position: relative;
  color: black;
  text-align: left;
  text-decoration: none;
}

.navbar-nav > li {
  margin-left: 0.8em;
  margin-right: 0.8em;
}

.vis-container {
  height: 50%;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
